{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-container">
                <div class="logo">
                    <img src="{% static 'images/logo.jpg'%}" alt="AgriTrade Logo">
                    <h1>Agri-<span>commerce</span></h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>
    
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>